<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/calendario.css') }}">
    <title>Agendamentos 2</title>
</head>
<body>
    
   <header>
        <h1>Data do Agendamento</h1>

    </header>

    <h2 class="info">Escolha a Data e a hora da sua Preferência</h2>
    <div class="calendario">
        <h2 class="calendario-titulo">Datas disponíveis</h2>
            
        <div class="calendario-navegacao">
            <button class="calendario-botao" id="prev-month">Anterior</button>
            <p class="calendario-mes" id="month-year"></p>
            <button class="calendario-botao" id="next-month">Próximo</button>
        
        </div>

        <div class="calendario-semana">
            <span class="semana">Dom</span>
            <span class="semana">Seg</span>
            <span class="semana">Ter</span>
            <span class="semana">Qua</span>
            <span class="semana">Qui</span>
            <span class="semana">Sex</span>
            <span class="semana">Sab</span>
        </div>
            
        
            <div id="dias"></div>

    </div>

        <div id="horarios"></div>
    
    
    <div class="finalizacao">
    <button class="botao" id="agendar">Finalizar Agendamento</button>
    </div>
        
    
        <footer>
            <p>&copy; 2026 Todos os direitos reservados.</p>
        </footer>






    <script src="{{ url_for('static', filename='js/calendario.js') }}"></script>
</body>
</html>