<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Sistema de Agendamentos</title>
</head>

<body>
    <header>
        <div class="header">
            <h1 style="text-align: center;" class="logo">AGENDAMENTOS</h1>
            <p class="subtitulo">Sistema de Agendamentos Personalizado</p>
        </div>

    </header>

    <div class="menu-container">
        <a class="menu" href="AgendarPage.html">
            <img class="agendar" src="{{url_for('static', filename='imagens/agendar.png')}}" alt="agendar">
            <p class="menu-text">Agendar</p>
        </a>
        
        <a class="menu" href="Editar.html">
            <img class="editar" src="{{url_for('static', filename='imagens/editar.png')}}" alt="editar agendamento">
            <p class="menu-text">Editar</p>
        </a>
        
        <a class="menu" href="Consultar.html">
            <img class="consultar" src="{{url_for('static', filename='imagens/consultar.png')}}" alt="consultar agendamento">
            <p class="menu-text">Consultar</p>
        </a>
        
        <a class="menu" href="Cancelar.html">
            <img class="cancelar" src="{{url_for('static', filename='imagens/cancelar.png')}}" alt="cancelar agendamento">
            <p class="menu-text">Cancelar</p>
        </a>
                
    </div>

    <div class="separador"></div>

    <div class="calendario">


        <h2 class="calendario-titulo">Datas disponíveis</h2>
            
        <div class="calendario-navegacao">
            <button class="calendario-botao" id="prev-month">Anterior</button>
            <p class="calendario-mes" id="month-year"></p>
            <button class="calendario-botao" id="next-month">Próximo</button>
        
        </div>

        <div class="calendario-semana">
            <span class="semana">Dom</span>
            <span class="semana">Seg</span>
            <span class="semana">Ter</span>
            <span class="semana">Qua</span>
            <span class="semana">Qui</span>
            <span class="semana">Sex</span>
            <span class="semana">Sab</span>
        </div>
            
        
            <div id="dias"></div>

    </div>

    <div id="horarios"></div>
    
    <footer class="footer">
        <p class="footer-text">Sistema de Agendamento <br>  Projeto desenvolvido para facilitar o gerenciamento de consultas. <br><br><br>Desenvolvido para fins de estudo. <br> © 2026 Biancato Helena</p>
    </footer>



    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>